.container-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
    width: 800px;
    height: 600px;
}

.loader {
    max-width: 100%;
    /* max-width: 15rem; */
    width: 100%;
    height: auto;
    stroke-linecap: round;
    color: '#3f7de8';
    font-weight: 'bold';
}

.text-center {
    text-align: center;
}

.margin-gl {
    margin: 1rem;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-item {
    z-index: 1;
    color: #000;
    background-color: #ededed;
    border-color: #AEFF5E;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF0000;
    border-color: #AEFF5E;
}

.page-link {

    position: relative;

    display: block;

    padding: 0.5rem 0.75rem;

    margin-left: -1px;

    line-height: 1.25;

    color: #003C00;

    background-color: #D8EBEB;

    border: 1px solid #346767;

}

.page-item.disabled .page-link {

    color: #868e96;

    pointer-events: none;

    cursor: auto;

    background-color: #CEFFCE;

    border-color: #718393;

}

.page-item.active .page-link {

    z-index: 1;

    color: #fff;

    background-color: #003C00;

    border-color: #AEFF5E;

}

.page-link:focus,
.page-link:hover {

    color: #fff;

    text-decoration: none;

    background-color: #003C00;

    border-color: #AEFF5E;

}
